* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    font-family: 'Nunito', sans-serif;
}

/* General settings */

h1 {
    font-size: 70px;
    color: #ea4659;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-container {
    flex-direction: column;
}

.justify-container {
    justify-content: space-between;
}

/* Image panel */

main {
    flex-grow: 3;
    padding: 30px 20px;
    height: 100%;
}

.chopper-container {
    position: relative;
    height: 1000px;
    width: 100%;
    max-width: 330px;
    background-color: white;
}

.image-body {
    width: 90%;
    position: absolute;
}


/* Settings panel */

aside {
    flex-grow: 1;
    background-color: #c5dcf7;
}

aside div {
    width: 100%;
}

.setting-panel {
    width: 50%;
    margin: 10px;
    color: white;
}

.buttons-container {
    background-color: #ab4e59;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}

button {
    color: white;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

h4 {
    margin: 0 2px;
    text-align: center;
}

.arrow-button {
    width: 50px;
}

.save-button {
    width: 70px;
    background-color: #cd9097;
    font-size: 15px;
    border-radius: 3px;
}

/* USER INTERACTIONS */

/* Hover */

button:hover {
    background-color: white;
    color: #ED6877;
}

/* MEDIA QUERIS */

@media (max-width: 730px) {

    body {
        flex-direction: column;
    }

    aside {
        background-color: white;
        padding: 10px;
    }

    .settings-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .setting-panel {
        width: 100px;
    }
}